/* Base Styles */
/* ------------------------------------------------------------------------- */

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: #fff;
  font-family: "Merriweather", Georgia, serif;
  color: #2F384B;
  font-weight: 300;
}

p {
  line-height: 2em;
}

/* Utilities */
/* ------------------------------------------------------------------------- */

.placeholder {
  background: linear-gradient(#0D1318, #FFFFFF);
  opacity: 0.15;
}

.sans-font {
  font-family: "Merriweather Sans", Verdana, sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.show-md {
  display: none;
}

/* Headings */
/* ------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-family: "Arima Madurai", Helvetica, sans-serif;
  font-weight: 400;
  color: #1F2532;
  text-transform: uppercase;
  line-height: 1.48em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.75em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
  font-weight: 700;
}

h5 {
  font-size: 1.125em;
  font-weight: 700;
}

h6 {
  font-size: 0.875em;
  font-weight: 700;
}

.pre-heading {
  color: #2E86DE;
  margin-bottom: 10px;
}

/* Buttons */
/* ------------------------------------------------------------------------- */

a.button {
  display: inline-block;
  font-family: "Arima Madurai", Helvetica, sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.48em;
  color: #1F2532;
  border: 1px solid #D2DAE2;
  padding: 16px 40px;
  background: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
}

a.button:hover,
a.button:focus {
  border-color: #2F384B;
}

a.button.inverse {
  color: #fff;
  border: 2px solid #1E8FE1;
}

a.button.inverse:hover,
a.button.inverse:focus {
  background: #1E8FE1;
}

/* Containers */
/* ------------------------------------------------------------------------- */

.container {
  display: flex;
  width: 850px;
  margin: 0 auto;
}

.heading-container {
  margin-bottom: 50px;
}

.site-section {
  padding: 100px 0;
  border-bottom: 1px solid #E7EBEE;
}

.section-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.column-second {
  align-items: flex-end;
}

.column-content {
  width: 350px;
}

/* Navigation */
/* ------------------------------------------------------------------------- */

.navbar {
  display: flex;
  margin: 15px 0;
}

.navbar a {
  font-size: 0.75em;
  color: #8C96A9;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar a:hover,
.navbar a:focus {
  color: #1F2532;
}

.navbar a {
  padding: 10px 12px;
}

.navbar a:first-of-type {
  padding-left: 0;
}

.navbar a:last-of-type {
  padding-right: 0;
}

/* Intro */
/* ------------------------------------------------------------------------- */

#intro {
  padding-top: 50px;
}

#intro .column-first {
  display: flex;
  justify-content: space-between;
}

.intro-blurb {
  margin-top: 5px;
}

.intro-image {
  height: 500px;
  width: 350px;
}

.intro-scroll a {
  font-size: 0.75em;
  color: #D2DAE2;
  text-decoration: none;
  transition: color 0.3s;
}

.intro-scroll a:hover,
.intro-scroll a:focus {
  color: #8C96A9;
}

/* About */
/* ------------------------------------------------------------------------- */

#about .column-second {
  justify-content: space-between;
}

.about-heading {
  text-align: right;
}

.about-heading h2 {
  line-height: 1.38em;
}

.light-amp {
  color: #8C96A9;
  font-weight: 400;
}

.about-blurb + .about-blurb {
  margin-top: 20px;
}

.about-image {
  height: 350px;
  width: 350px;
}

/* Projects */
/* ------------------------------------------------------------------------- */

.project-container + .project-container {
  margin-top: 100px
}

.project-title {
  margin-bottom: 15px;
}

.project-description {
  margin-bottom: 20px;
}

.project-details {
  margin-bottom: 35px;
  font-size: 0.875em;
  color: #8C96A9;
  line-height: 1.48em;
}

.project-image-container {
  position: relative;
  height: 400px;
  width: 300px;
}

.project-image-bg {
  height: 400px;
  width: 300px;
}

.project-image-abs {
  position: absolute;
  height: 250px;
  width: 360px;
  top: 50%;
  transform: translateY(-50%);
}

.project-image-abs.left {
  left: 40px;
}

.project-image-abs.right {
  right: 40px;
}

/* Experience */
/* ------------------------------------------------------------------------- */

#experience {
  border-bottom: none;
}

.experience-button .unbold {
  font-weight: 400;
}

.experience-company {
  margin-bottom: 30px;
}

.experience-title {
  color: #1F2532;
  margin-bottom: 15px;
  font-size: 1.125em;
  font-weight: bold;
}

.experience-info {
  margin-bottom: 35px;
}

.experience-info + .experience-info {
  margin-bottom: 20px;
}

.experience-spacer {
  margin: 0 5px;
}

/* Contact */
/* ------------------------------------------------------------------------- */

#contact {
  background-color: #1F2532;
  color: #D2DAE2;
  text-align: center;
  padding-bottom: 0;
  border-bottom: none;
}

#contact h2 {
  margin: 20px 0 15px;
  color: #fff;
  font-weight: 700;
}

#contact .column-first {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-headline {
  padding: 50px 0;
}

.contact-blurb {
  width: 550px;
}

.contact-blurb a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.contact-blurb a:hover,
.contact-blurb a:focus {
  text-decoration: underline;
}

.contact-button {
  margin-bottom: 100px;
}

/* Footer */
/* ------------------------------------------------------------------------- */

footer {
  padding: 30px 0;
  border-top: 1px solid #2F384B;
}

footer a {
  padding: 10px;
  font-size: 0.75em;
  color: #8C96A9;
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover,
footer a:focus {
  color: #fff;
}

footer a:first-of-type {
  padding-left: 0;
}

footer a:last-of-type {
  padding-right: 0;
}

.footer-container {
  justify-content: space-between;
}

.footer-links {
  display: flex;
  flex: 1;
}

.footer-links.right-links {
  justify-content: flex-end;
}

/* Breakpoints */
/* ------------------------------------------------------------------------- */

/* Medium Screen */
@media only screen and (max-width: 992px)  {
  
  .hide-md {
    display: none;
  }

  .show-md {
    display: block;
  }

  .column-first,
  .column-second {
    align-items: center;
    text-align: center;
  }

  .container {
    flex-direction: column;
    width: auto;
    max-width: 600px;
    padding: 0 50px;
  }

  .column-content {
    width: auto;
  }

  .col-reverse-md {
    flex-direction: column-reverse;
  }

  /* Intro */
  /* ------------------------- */

  #intro {
    padding-top: 0;
  }

  #intro h1 {
    padding: 5px 0;
  }

  .navbar {
    margin: 35px 0 0;
  }

  .intro-headline {
    margin: 85px 0 100px;
  }

  /* About */
  /* ------------------------- */

  .about-heading {
    text-align: center;
    margin-bottom: 50px;
  }

  /* Projects */
  /* ------------------------- */

  .project-image {
    display: block;
    height: 325px;
    width: 100%;
    max-width: 450px;
    margin-bottom: 35px;
  }

  /* Experience */
  /* ------------------------- */

  .experience-info-container {
    display: flex;
    width: 375px;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .experience-info {
    margin-bottom: 0;
  }

  .experience-details {
    display: flex;
    flex-direction: column;
  }

  .experience-details span + span {
    margin-top: 15px;
  }

  .at-a-glance {
    margin-bottom: 50px;
  }

  /* Contact */
  /* ------------------------- */

  .contact-blurb {
    width: auto;
  }

  /* Footer */
  /* ------------------------- */

  .footer-links,
  .footer-links.right-links {
    justify-content: center;
  }
}

/* Small Screen */
@media only screen and (max-width: 500px)  {

  .hide-sm {
    display: none;
  }

  .site-section {
    padding: 75px 0;
  }

  /* Buttons */
  /* ------------------------- */

  a.button {
    width: 100%;
    max-width: 350px;
  }

  /* Headings */
  /* ------------------------- */

  h1 {
    font-size: 2em;
    font-weight: 700;
  }

  h2 {
    font-size: 1.875em;
    font-weight: 700;
  }

  .pre-heading {
    font-size: 0.875em;
  }

  /* Experience */
  /* ------------------------- */

  .experience-info-container {
    width: auto;
    flex-direction: column;
  }

  .experience-info + .experience-info {
    margin-top: 35px;
  }

  /* Footer */
  /* ------------------------- */

  footer a,
  footer a:first-of-type,
  footer a:last-of-type {
    padding: 15px;
  }

  .footer-links {
    flex-direction: column;
  }
}
