/* Base Styles */
/* ------------------------------------------------------------------------- */

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Merriweather";
  background-color: #fff;
  color: #666;
  font-weight: 300;
}

/* Typography */
/* ------------------------------------------------------------------------- */

/* Headings */

h1, h2, h3, h4, h5, h6 {
  font-family: "Arima Madurai";
  font-weight: 400;
  color: #1F2532;
  text-transform: uppercase;
  line-height: 1.48em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.75em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.125em;
}

h6 {
  font-size: 0.875em;
}

.pre-heading {
  color: #2E86DE;
  margin-bottom: 5px;
}

/* General */

p {
  line-height: 2em;
  color: ;
}

.sans-font {
  font-family: "Merriweather Sans";
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Containers */
/* ------------------------------------------------------------------------- */

.wrapper {
  width: 850px;
  margin: 0 auto;
}

.site-section {
  margin: 100px 0;
}

.section-container {
  display: flex;
}

.section-column {
  flex: 1;
}

.column-first {
  margin-right: 15px;
}

.column-second {
  margin-left: 15px;
}

/* Navigation */
/* ------------------------------------------------------------------------- */

.navbar {
  display: flex;
  margin: 15px 0;
}

.navbar a {
  font-size: 0.75em;
  color: #8C96A9;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar a:hover,
.navbar a:focus {
  color: #1F2532;
}

.navbar a {
  padding: 10px 12px;
}

.navbar a:first-of-type {
  padding-left: 0;
}

.navbar a:last-of-type {
  padding-right: 0;
}

/* Intro Section */
/* ------------------------------------------------------------------------- */

#intro {
  margin-top: 50px;
}

#intro .column-first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro-image {
  height: 500px;
  width: 350px;
  float: right;
  background: linear-gradient(#0D1318, #FFFFFF);
  opacity: 0.15;
}

.intro-scroll a {
  font-size: 0.75em;
  color: #D2DAE2;
  text-decoration: none;
  transition: color 0.3s;
}

.intro-scroll a:hover,
.intro-scroll a:focus {
  color: #8C96A9;
}

/* Breakpoints */
/* ------------------------------------------------------------------------- */
/* 992px, 480px */
